@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;800&family=Roboto:wght@300;400;700&display=swap");

:root {
  --Red: hsl(1, 90%, 64%);
  --Blue: hsl(219, 85%, 26%);

  --White: hsl(0, 0%, 100%);
  --Very-light-grayish-blue: hsl(210, 60%, 98%);
  --Light-grayish-blue-1: hsl(211, 68%, 94%);
  --Light-grayish-blue-2: hsl(205, 33%, 90%);
  --Grayish-blue: hsl(219, 14%, 63%);
  --Dark-grayish-blue: hsl(219, 12%, 42%);
  --Very-dark-blue: hsl(224, 21%, 14%);
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--Very-light-grayish-blue);
  font-size: 16px;
  box-sizing: border-box;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 500;
  color: var(--Dark-grayish-blue);
}

.main-container {
  background-color: var(--White);
  padding: 5px 10px;
  width: 500px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  gap: 30px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header p:nth-child(1) {
  font-weight: 800;
  font-size: 1.1rem;
  color: var(--Very-dark-blue);
}

.header .notif-amount {
  background-color: var(--Blue);
  padding: 3px;
  color: var(--White);
  border-radius: 4px;
  display: inline-block;
  min-width: 20px;
  height: 15px;
  text-align: center;
  margin-left: 6px;
  font-size: 14px;
}

.header p:nth-child(2):hover {
  color: var(--Blue);
  cursor: pointer;
}

.notif-list {
  width: 600px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.notif {
  display: flex;
  align-items: center;
  gap: 10px;
}

.notif a {
  text-decoration: none;
}

.pic-comment {
  justify-content: space-between;
}

.pic-comment img:nth-child(1) {
  margin-right: -125px;
}

.private-message div img {
  margin-top: -100px;
}

.private-message .message {
  padding: 15px;
  border-radius: 5px;
  margin-top: 8px;
  border: 1px solid gainsboro;
}

.private-message .message:hover {
  background-color: var(--Light-grayish-blue-1);
}

.readed img,
.unread img {
  width: 50px;
  height: 50px;
}

.unread {
  background-color: var(--Very-light-grayish-blue);
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}

.unread .notif-text .unread-badge {
  display: inline-block;
  width: 8px;
  height: 8px;
  background-color: rgb(250, 69, 69);
  border-radius: 50%;
  margin-left: 5px;
}

.readed {
  background-color: var(--White);
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  .main-container {
    width: 100%;
    padding: 0;
    margin: 0;
  }

  .header,
  .notif-list {
    width: 100%;
    padding: 10px 5px;
  }
  .pic-comment img:nth-child(1) {
    margin-right: 0.5px;
  }
}
